/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 21, 2017, 8:07:48 PM
    Author     : Dan Mlayah
*/
.root{
    -fx-text-control-title-color: rgb(130.0, 130.0, 130.0);
    -swatch-grey: rgb(200.0, 200.0, 200.0);
    -swatch-dark-grey: rgb(150.0, 150.0, 150.0);
    -swatch-light-grey: rgb(230.0, 230.0, 230.0);
    -swatch-toolbar: rgb(245.0, 245.0, 245.0);
    -swatch-toolbar-selected: rgb(215.0, 215.0, 215.0);-swatch-100: #BBDEFB;
    -swatch-200: #90CAF9;
    -swatch-300: #64BEF6;
    -swatch-400: #42A5F5;
    -swatch-500: #2196F3;
   -fx-background-color: #F5F5F5;
}
.nav-header {
    -fx-border-color:#CDCDCD;
    -fx-border-width:0 0 1 0;
    -fx-text-fill: #ffffff;
}
.nav-button:hover{
    -fx-background-color:#ffffff;
    -fx-text-fill: #000000;
}
.nav-button {
    -fx-border-color:#CDCDCD;
    -fx-border-width:0 0 1 0;
    -fx-text-fill: #ffffff;
}

.nav-button:pressed {
    -fx-background-color: #ffffff;
    -fx-text-fill: #000000;
}
.mprogress-bar>.track {
    -fx-background-color: derive(rgb(200.0, 200.0, 200.0), 50.0%);
    -fx-background-radius: 2.0;
    -fx-padding: 0.0;
}

.mprogress-bar>.bar {
    -fx-background-color: #26B99A;
    -fx-background-radius: 2.0;
    -fx-background-insets: 0.0;
    -fx-pref-width:3;
    -fx-border-width: 0.0;
    -fx-effect: null;
}

.mprogress-bar:indeterminate>.bar {
    -fx-background-color: derive(#26B99A, 50.0%);
    -fx-background-radius: 2.0;
    -fx-background-insets: 0.0;
    -fx-border-width: 0.0;
    -fx-effect: null;
}

.custom-progress-bar>.track {
    /*	-fx-background-color: derive(#D5D5D5, 50.0%);*/
    -fx-background-color:#CDCDCD;
    -fx-background-radius: 2.0;
    -fx-padding: 0.0;
}

.custom-progress-bar>.bar {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 2.0;
    -fx-background-insets: 0.0;

    -fx-border-width: 0.0;
    -fx-effect: null;
}

/*TableView*/

.table-cell {     
    -fx-padding: 0.5em 0.5em 0.1em 0.3em;
    -fx-border-color: -fx-box-border -fx-box-border transparent transparent;  
    -fx-font: 13px "Ubuntu Condensed";    
    -fx-text-fill: #212121;
    -fx-alignment: CENTER_LEFT;
    -fx-border-insets: 0;
}
.table-view {
    -fx-table-header-border-color: #959595;
    -fx-table-cell-border-color: -fx-box-border;
    -fx-control-inner-background: white;
    -fx-background-color: white;
    -fx-border-color: transparent;
    -fx-padding: 0;
    -fx-border-insets: 0;
    -fx-background-insets: 0;
}
.table-view:focused {
    -fx-background-color: -fx-box-border,-fx-box-border, white;
}
.table-row-cell {    
    -fx-background-color: white;
}
.table-row-cell:odd {
    -fx-background-color: white;
    -fx-background-insets: 0, 0 0 1 0;
}
.table-view:focused .table-row-cell:focused,.table-view:focused .table-row-cell:focused:odd {
    -fx-background-color: -fx-box-border, white;
    -fx-background-insets: 0, 1, 2;
}
.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-box-border, rgb(205,205,205);
}
.table-view:focused .table-row-cell:filled:selected, .table-view:row-selection .table-row-cell:filled:hover:selected {    
    -fx-background-color: #f4f3f3;
    /*-fx-background-insets: 0,1 1 1 1 0;*/
}
.table-view:focused .table-row-cell:filled:focused:selected:hover {    
    -fx-background-color: -fx-box-border, rgb(205,205,205);
    /*-fx-background-insets: 0,1 1 1 1 0;*/
}
.table-row-cell:filled:selected:focused, .table-row-cell:filled:selected {
    -fx-background-color: #f5f5f5;
}
.table-view:row-selection .table-row-cell:filled:hover { 
    -fx-background-color: #f5f5f5;
}
.table-view:row-selection .table-row-cell:filled:focused:hover { 
    -fx-background-color: #f4f3f3;
}
.table-view:focused .table-row-cell:filled:focused:hover {
    -fx-background-color: -fx-box-border,rgb(231,231,231);
}
.table-view .column-header-background {
    -fx-background-color: #ff2e44;
}

.table-view .column-header .label{
    -fx-text-fill: white;
    -fx-alignment: CENTER;
}


.table-view .column-header, .table-view .filler {
    -fx-background-color: #ff2e44;    
    -fx-size: 35;
    -fx-border-color: -fx-box-border;
    -fx-border-insets: -1 0 0 -1;
    -fx-padding: 0 5 0 0;

}
.table-view .show-hide-columns-button {
    -fx-background-color: white;
    -fx-border-color: -fx-box-border;
    -fx-border-insets: -1 -1 0 0;
}
.table-view .column-drag-header {    
    -fx-background-color: rgb(255, 46, 68);
    -fx-opacity: 0.6;
}
.table-view .column-resize-line {  
    -fx-background-color: rgb(255, 46, 68);
}
.table-view .column-overlay {
    -fx-background-color: darkgray;
    -fx-opacity: 0.2;
}
.table-view .arrow {
    -fx-padding: 0.2em;
    -fx-shape: "M4,17v-2.889l4.124-3.86l4.125,3.86V17l-4.125-3.375L4,17z";
}
.addBtn { 
    -fx-background-image: url('Add.png');
    -fx-background-color: transparent;
    -fx-background-size: 48;

}

.toolbar{
    -fx-pref-height:50px;
    -fx-background-color: #3F51B5;
}
.side-bar{
    -fx-background-color: #ffffff;
    -fx-effect: dropshadow(gaussian, rgb(0.0, 0.0, 0.0, 0.3), 7.0, 0.0, 0.0,0.0);
}
.side-buttons{
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-alignment: CENTER_LEFT;
}
.side-buttons:active{
    -fx-background-color: #F3F3F3;
}


.fab{
    -fx-pref-height:50px;   
    -fx-pref-width:50px;
    -fx-background-color: #ff2e44;
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
    -fx-alignment: CENTER;
    -fx-effect: dropshadow(gaussian, rgb(0.0, 0.0, 0.0, 0.30), 6.0, 0.3, 0,1);
}


.card-white{
    -fx-background-color: rgb(255.0, 255.0, 255.0);
    -fx-background-radius: 4.0;
    -fx-effect: dropshadow(gaussian, rgb(0.0, 0.0, 0.0, 0.15), 6.0, 0.7, 0.0,1.5);
}











